@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

.video-container {
    margin-top: 15px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
video {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
/* Remove Controls to work on container */

.player-controls {
    display: none;
}